In [ ]:
import pandas as pd
import numpy as np

# Load data

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, header=None, names=['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class'])

iris.head()

# Data cleaning

## Missing values

### Is there any missing value in the dataframe?

### Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

### Which column has the maximum number of missing values?

### Try to substitute the NaN values with two methods:
- replace null values with column mean (apply it to a copy of the dataframe)
- replace null values with 1.0

### Set the first 3 rows as NaN

### Delete the rows that have all NaN

### Reset the index so it begins with 0 again

## Duplicates

### Does the dataframe contain duplicated rows? If any, visualize all duplicated rows (don't omit first or last occurrences)

### Which row is the most repeated?

### Drop duplicated rows

## Detect outliers, e.g., values that are higher than 85th percentile and lower than 25th percentile.

# Data transformation

## Replace class values by removing "Iris-" prefix (use a dictionary)

## Delete columns
Delete for example class column

## How to normalize all columns in a dataframe?
- Normalize all columns of df by subtracting the column mean and divide by standard deviation.
- Range all columns of df such that the minimum value in each column is 0 and max is 1.

## Binning and discretization
Discretize dataframe columns in 4 bins and get the new value frequency distribution

## Binarize categorical data (dummy variables)
Based on the prevoius result, binarize all dataframe columns